<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jafa.dao.BoardMapper">
	<select id="getList" resultType="com.jafa.dto.Board" >
		select * from board_tbl;
	</select>
</mapper>